* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background: var(--one);
}
.container {
  // border-right: 4px dashed var(--two);
  // border-left: 4px dashed var(--two);
  margin: 0 auto;
  max-width: 940px;
  width: 88%;
  // overflow: hidden;
}
section {
  // .container;
}

h1 {
  text-shadow: 8px 8px var(--four);
  font-size: 100px;
}

input,
textarea,
select,
button {
  font: inherit;
}

section {
  color: var(--two);
  font-size: 22px;
  // height: 400px;
  background: var(--one);
  margin-bottom: 40px;
  padding: 64px;
  @media @bp_max_640 {
    padding: 0;
  }
}

// .first-section {
//   margin-top: 20px;
// }

p:nth-child(odd) {
  color: var(--four);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.card {
  border: 2px dashed var(--two);
  // width: 100px;
  // height: 100px;
  // margin: 20px;
  padding: 20px;
}

footer {
  padding: 64px;
  @media @bp_max_640 {
    padding: 20px;
  }
  background: black;

  border-right: 4px dashed var(--two);
  border-left: 4px dashed var(--two);
  border-top: 4px dashed var(--two);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  p {
    font-size: 22px;
    color: #fff;
  }
}
