menu {
  // .container;
  top: 0;
  padding: 0;
  overflow: auto;
  ul {
    padding: 0;
  }
  li {
    a {
      color: var(--four);
      text-decoration: none;
      font-size: 22px;
      background: var(--one);
      padding-left: 1rem;
      padding-right: 1rem;
    }
    padding-right: 20px;
    float: left;
    list-style-type: none;
  }
}
